.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    margin-top: 90px;
}
.filter{
    max-width: 266px;
    width: 100%;
}
.filter__text{
    margin-top: 90px;
     margin-bottom: 20px;
     font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    padding-left: 10px;
 }
.option > p{
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
}
.option{
    display: flex;
    justify-content: space-between;
}
.option img{
    cursor: pointer;
}
.product{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.title{
    font-size: 12px;
    font-weight: 500;
}
.name{
    font-size: 20px;
    font-weight: 700;
}
.search__bar::placeholder{
    font-family: 'Beatrice Deck Trial', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}
.search__bar{
    margin-top: 15px;
    padding: 0 30px;
    padding-left: 40px;
    font-size: 19px;
    font-weight: 300;
    background-color: #D9D9D9;
    width: 367px;
    height: 50px;
    opacity: 66%;
    text-align: right;
}
.search{
    position: relative;
    float: left;
    margin-top: -35px;
}
.search__logo{
    position: absolute;
    left: 15px;
    top: 31px;
}