.collections{
    margin-top: 90px;
}
.collections__wrapper{
    display: flex;
    justify-content: space-between;
}
.collections__image{
    display: flex;
    gap: 40px;
}
.collections__text{
    height: 377px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.new{
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 12px;

}
.summer{
    font-size: 16px;
    font-weight: 400;
}

.collection__buttons{
    display: flex;
}
.collection__image{
    display: flex;
}
.image__item{
    width: 366px;
    height: 376px;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}