.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 70px;
}
.checkout__wrapper{
    display: flex;
    flex-direction: column;
}
.vector__image{
    cursor: pointer;
}
.navigation{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.text{
    font-size: 32px;
    font-weight: 800;
}
.check__nav{
    display: flex;
    margin-top: 18px;
    font-size: 16px;
    font-weight: 400;
    color: #8A8A8A;
    cursor: pointer;
    gap: 50px;
    font-family: 'Beatrice Trial', sans-serif;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}