.thisweek__images{
    display: flex;
    gap: 23px;

}
.thisweek_wrapper{
    cursor: pointer;
}
.this{
    max-width: 305px;
    max-height: 313px;
}
.other{
    max-width: 366px;
    max-height: 376px;
}
.image__item{
    max-width: 305px;
    max-height: 313px;
    margin-bottom: 14px;
}
.productWeek{
    font-size: 14px;
}
.image__text{
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}
#categoryProduct{
    opacity: 66%;
}